{% extends 'base.html' %}
{% block title %} <title>Ex06</title> {% endblock %}

{% block content %}
<hr>
{% if res %}
    <div style="margin: auto 10px;">
        {% for x in res %}
            <p>{{ x }}(</p>
        {% endfor %}
    </div>
{% else %}
    <table style="margin-left: 10px;">
        <h2 style="padding: 5px;">Movies</h2>
        <tr style="border-bottom: 3px solid #4c6ea1;">
            <th style="padding: 5px;">Название</th>
            <th style="padding: 5px;">Номер эпизода</th>
            <th style="padding: 5px;">Описание</th>
            <th style="padding: 5px;">Режисер</th>
            <th style="padding: 5px;">Продюсер</th>
            <th style="padding: 5px;">Дата выпуска</th>
            <th style="padding: 5px;">Добавлен</th>
            <th style="padding: 5px;">Обновлен</th>
        </tr>
        {% if movies %}
            {% for x in movies %}
            <tr>
                {% for i in x %}
                    {% if i %}
                        <td style="padding: 5px;">{{ i }}</td>
                    {% else %}
                    <td style="padding: 5px;">Отсутствует</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        {% else %}
            <td style="padding: 5px;">Movies not found:(</td>
        {% endif %}
    </table>
{% endif %}
{% endblock %}