blockquote {
    margin: 0 0 1rem;
    border-left: 5px solid #000000;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

p, li, blockquote, h1, h2,h3,h6{
    font-family: Calibri;
}
blockquote > p {
    margin-top: 0;
    margin-bottom: 1rem;
}