{% extends 'base.html' %}
{% block title %} <title>Ex02</title> {% endblock title %}

{% block content %}

{% if n == True %}
    <p>OK:D</p>
{% elif res %}
    <p>{{res}}</p>
{% else %}
    <div style="margin: auto 10px;">
        <form action="" method="post">
            {% csrf_token %}
            <p>Create table</p>
            <input type="submit" name="create" value="Create">
            <p>Delete table</p>
            <input type="submit" name="delete" value="Delete">
            <p>Populate table</p>
            <input type="submit" name="populate" value="Populate">
            <p>Display table</p>
            <input type="submit" name="display" value="Display">
        </form>
    </div>
{% endif %}
{% endblock content %}